<div id="buy-filters">
		<nav>
			<ul>
				<li>
					Stats: 
				</li>
				<li>
					Average sale price: 
				</li>
				<li>
					Last Sale Price:
				</li>
				<li>
					Price trends: 
				</li>
			</ul>
		</nav>
	</div>
<div id='buy-page'>
		<form action = "#" method = "get">
			<fieldset>
				<div id='item-name'
				<h1 id ='item-name' class='title'><%= @query %></h1></div>
				<div id='price'>
				<label class="title" for="price">My Price $</label>
				<input type="text" name="price-high" id="price"> - 
				<input type="text" name="price-low" id="price">
				</div>				
<br>
				<div id = 'condition'>
				<label class="title" for="condition">Condition</label>
				<select name="condition" style=width:60px;">
					<option value="new">New</option>
					<option value="used">Used</option>
					<option value="barely-used">Barely Used</option>
					<option value="moderately-used">Moderately Used</option>
					<option value="heavily-used">Heavily Used</option>
					<option value="refurbished">Refurbished</option>
				</select>
				</div>
				<br>
				<div id='distance'>
				<label class="title" for="location">Seller Location</label>
				<input type="checkbox" name="location" value="US">United States<br>
				<input type="checkbox" name="location" value="International">International 
				</div>
				<input type="submit" value="submit" id="submit">
			</fieldset>
		</form>

			
</div>	
<div id='recently-sold'>
	<h1>Recently Sold Items</h1>
</div>


	

