<h1><%= @user.email %></h1>
<p>Find me in app/views/users/show.html.erb</p>
<p> <%= full_name(@user) %>'s profile. This is where user profiles will be </p>
<% if @user.id == current_user.id %>
	<%= link_to "Edit My Profile", edit_user_registration_path %>
<% end %>

<h3>
	<% if @user.admin? %>
		This user is an admin!
	<% else %>
		This user is not an admin!
	<% end %>
</h3>