<div id='user-profile'>
	<% if @user.id == current_user.id %>
		<%= link_to "Edit My Profile", edit_user_registration_path, id: 'edit-my-profile-link', class: 'pull-right' %>
	<% end %>

	<h1><%= full_name(@user) %>'s Profile</h1>
	<h2><%= @user.email %></h2>
	<h4>
		<% if @user.admin? %>
			This user is an admin!
		<% else %>
			This user is not an admin!
		<% end %>
	</h5>
	<p> This is where user profiles will be </p>
</div>