<div id='about-page'>
	<div id='about-page-headers'>
		<p id ='the-team'>-The Team-</p>
		<p id ='the-team'>-The Story-</p>
	</div>
<div id ='right-side'>
	<div id='about-andrew'>
		<img src='andrew.jpg'>
		<h1>Andrew Ghobrial</h1>
		<p>Stony Brook University - Economics </p>
		<p>Co-founder and CEO</p>
	</div>

	<div id='about-chris'>
		<img src='chris.jpg'>
		<h1>Chris Meseha</h1>
		<p>Johns Hopkins University - Computer Science </p>
		<p>Co-founder, President and CTO</p>
	</div>

	<div id = 'the-story'>
		<p>Denarri began as a casual conversation between two cousins about their frustrations with the state of e-commerce. If you wanted a really good deal, your best bet was to use an auction site, and this meant spending days keeping track of an item that you weren't even guaranteed to win. As a seller, you either had to risk selling your item for a less than stellar prive, or put a reserve price and scare all your potential customers away. Chris then remembered spending much of his childhood playing an online role-playing game which includeda marketplace with a much more seamless setup. You selected the item you wished to purchase, set a price range you'd be willing to pay, and waited for the market to automatically match you with a seller. No constant browsing, no auctions, no headache. We figured, why not have this for real-world products? The Denarius was the currency used in the Roman Empire, and helped form the foundation for modern commerce. We believe Denarri is the next evolution.</p>
	</div>
</div>
</div>
