<script>
	home.init();
</script>

<a href='/users/index'>Users Index</a>

<div id='home-page' class='centered'>
	<h1 id='home-page-header'>Denarri</h1>
	<a href='#' id='buy-btn' class='button home-button shadow no-text-decoration' target='_self'>Buy</a>
	<a href='#' id='sell-btn' class='button home-button shadow no-text-decoration' target='_self'>Sell</a>
	<a href='#' id='browse-btn' class='button home-button shadow no-text-decoration' target='_self'>Browse</a>
	<form action="">
		<input type="text" class="home-search shadow" name="search" value="" placeholder="enter search term here..." />
	</form>
	<div class='arrow-up'></div>
</div>