<a href='/users/index'>Users Index</a>

<div id='home-page' class='centered'>
	<h1 id='home-page-header'>Denarri</h1>
	<a href='#' class='button home-button shadow no-text-decoration'>Buy</a>
	<a href='#' class='button home-button shadow no-text-decoration'>Sell</a>
	<a href='#' class='button home-button shadow no-text-decoration'>Browse</a>
	<form action="">
		<input type="text" class="home-search shadow" name="search" value="" placeholder="enter search term here..." />
	</form>
</div>