<script>
	home.init();
</script>

<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<title>Denarri - Make Shopping a Conversation </title>
</head>
<body id='home-page'>
<div id='home-page' class='centered'>
	<p id='home-page-header'>Make Shopping a Conversation.</p>
	<a href='#' id='buy-btn' class='button home-button shadow' target='_self'>Buy</a>
	<a href='#' id='sell-btn' class='button home-button shadow' target='_self'>Sell</a>
	<form id='home-page-search-form' action='buy' method='GET'>
		<input type='text' id='home-page-search' class='shadow' name='query' placeholder='enter search term here...' data-search='buy' />
	</form>
	<div class='arrow-up'></div>
</div>
</body>
