body {
	font-family: Georgia, Serif;
	background-image: url('http://static.travelblog.org/Wallpaper/pix/waterfall_desktop_background-1600x1200.jpg');
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.notice {
	background-color: yellow;
}

.alert {
	background-color: red;
}

.no-text-decoration {
	text-decoration: none;
}

#nav-bar {
	width: 100%;
	font-size: 18px;
	background-color: white;
	padding: 10px 15px 10px 7px;
	margin: -10px 0 0 -7px;
}

#nav-bar li {
	display: inline;
}

#nav-bar > ul li + li {
	border-left: solid 2px black;
	padding-left: 4px;
}

#nav-bar > ul li > a {
	text-decoration: none;
}

.shadow {
	-moz-box-shadow:
		3px 3px 30px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		3px 3px 30px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		3px 3px 30px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(255,255,255,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 15px solid white;
	margin-top: -45px;
	margin-left: 35px;
	position: relative;
}
