body {
	font-family: Georgia, Serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.notice {
	background-color: yellow;
}

.alert {
	background-color: red;
}

.no-text-decoration {
	text-decoration: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -275px;
}

#nav-bar {
	width: 100%;
	font-size: 18px;
}

#nav-bar li {
	display: inline;
}

#nav-bar > ul li + li {
	border-left: solid 2px black;
	padding-left: 4px;
}