<!DOCTYPE html>
<html>
<head>
  <title>Denarri</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="nav-bar">
	<li><a href='/'>Denarri</a></li>
	<li><a href='/about'>About Us</a></li>
	<li><a href='#'>How It Works</a></li>
	<div class="pull-right">
		<li><a href='#'>Log In</a></li>
		<li><a href='#'>Sign Up</a></li>
	</div>
</ul>

<%= yield %>

</body>
</html>